# Create an application to obtain credentials at
# https://developer.paypal.com/dashboard/applications/sandbox

PAYPAL_CLIENT_ID=AWosBC0Qar_62fI8eGdYtdJmUOWMUGkNm2zLWuR0_ID8ZA3DSvCuliBJ6drZpWU6RDsQxgr3WJ7T0URi
PAYPAL_CLIENT_SECRET=EPUmqrdvhMDeaTwLRYLpM1cJCcRQz8mh0cTclKPLgc61ufy1hBk0zTjtybYgzQNPEE7WK027htysi4Ag
